/*
  Queda pendiente elgir
  1.- tipo grafia minimalista
  2.- efectos minimalistas
  3.- como será expresado el contenido
  4.- que proyectos y como mostrarlos
*/

a {
  text-decoration: none;
  color: black;
}

.sticky-column {
  position: sticky;
  top: 0;
  padding: 10px;
  max-height: calc(100vh - 20px); /* set the maximum height to the height of the viewport minus any padding and margins */
  overflow-y: auto; /* add vertical scroll to the sticky column */
  flex-shrink: 0; /* ensure the sticky column does not shrink in size */
  width: 250px;
}

.normal-column {
  flex-grow: 1; /* allow the normal column to grow to fill remaining space */
  padding: 10px;
}

.card{
  color: white !important;
  background-color: #333232 !important;
}