/*
  Queda pendiente elgir
  1.- tipo grafia minimalista
  2.- efectos minimalistas
  3.- como será expresado el contenido
  4.- que proyectos y como mostrarlos
*/

body{
  background-color: #101920!important;
}

h2{
  color: #CDBEAD !important;
}

a {
  text-decoration: none !important;
}

.nav-item a{
  color: #A4B1CD !important;
  font-size: 2rem;
}

.nav-item a:hover{
  color: #741281 !important;
  font-size: 2rem;
}

.navigation-items a{
  color: #CDBEAD !important;
}

.navigation-items a:hover{
  transition: 0.3s;
  font-size: 1.2rem !important;
}

li{
  list-style: none;
}

.sticky-column {
  position: sticky;
  top: 0;
  padding: 10px;
  max-height: calc(100vh - 20px); /* set the maximum height to the height of the viewport minus any padding and margins */ /* add vertical scroll to the sticky column */
  flex-shrink: 0; /* ensure the sticky column does not shrink in size */
  width: 250px;
}

.normal-column {
  flex-grow: 1; /* allow the normal column to grow to fill remaining space */
  padding: 10px;
}

.tecnology-tags {
  list-style: none;
  padding: 0;
  margin: 0;

}

.tecnology-tags li {
  display: inline-block;
  margin-right: 0.5rem; /* Agrega un espacio entre los elementos, ajusta según necesites */
  background-color: #741281;
  color: #fff;
  padding-top:0.3rem; 
  padding-bottom:0.3rem; 
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 15px;
}

.tecnology-tags li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento para evitar espacios innecesarios */
}

.tecnology-tags li a {
  text-decoration: none;
  color: #333; /* Color del texto del enlace */
  padding: 5px 10px; /* Ajusta el padding para aumentar el área de clic del enlace */
}

.project-item{
  padding: 1rem;
}

.project-item:hover{
  transition: 0.5s;
  background-color: transparent;
  background-color: rgba(248, 239, 239, 0.171);
  border-radius: 5px;
  cursor: pointer;
}